.contact-title {
  max-width: $contentwidth;
  font-family: Nova;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 60px;

  hr {
    width: 159px;
    border-top: solid 1px black;
    margin-top: -20px;
  }
}
